%body
  .single-container
    %header.single-header
      %h1
        %a{ href: 'https://www.mercari.com/jp/', class: "header-logo"}
          = image_tag("logo.svg", class: "top-logo")
    %main.single-main
      %section.single-contents
        %h2.single-head
          新規会員登録
        .single-inner
          .single-content
            %button#facebook-login.sns-facebook.btn-sns
              %i.icon-facebook
              Facebookで登録
            %button#google-login.sns-google.btn-sns
              %i.icon-google
              Googleで登録
            %a{ href: 'https://www.mercari.com/jp/', class: "sns-mail btn-sns"}
              %i.icon-mail
              メールアドレスで登録
    %footer.single-footer
      %nav
        %ul
          %li
            %a{ href: 'https://www.mercari.com/jp/privacy/'}
              プライバシーポリシー
          %li
            %a{ href: 'https://www.mercari.com/jp/tos/'}
              利用規約
          %li
            %a{ href: 'https://www.mercari.com/jp/tokutei/'}
              特定商取引に関する表記
      %a{ href: 'https://www.mercari.com/jp/', class: "footer-logo"}
        = image_tag("logo-gray.svg", class: "footer-logo-gray")
      %p
        © 2017 Mercari
/ %h2 Sign up
/ = form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f|
/   = devise_error_messages!
/   .field
/     = f.label :email
/     %br/
/     = f.email_field :email, autofocus: true
/   .field
/     = f.label :password
/     - if @minimum_password_length
/       %em
/         (#{@minimum_password_length} characters minimum)
/     %br/
/     = f.password_field :password, autocomplete: "off"
/   .field
/     = f.label :password_confirmation
/     %br/
/     = f.password_field :password_confirmation, autocomplete: "off"
/   .actions
/     = f.submit "Sign up"
/ = render "devise/shared/links"
