%footer.single-footer
  %nav
    %ul
      %li
        %a{ href: 'https://www.mercari.com/jp/privacy/'}
          プライバシーポリシー
      %li
        %a{ href: 'https://www.mercari.com/jp/tos/'}
          利用規約
      %li
        %a{ href: 'https://www.mercari.com/jp/tokutei/'}
          特定商取引に関する表記
  %a{ href: 'https://www.mercari.com/jp/', class: "footer-logo"}
    = image_tag("logo-gray.svg", class: "footer-logo-gray")
  %p
    © 2017 Mercari
