%body
  .single-container
    %header.single-header
      / = render 'registrations/header'
    %main.single-main
      %section.login-contents
        .login-head
          %p.login-head__title
            アカウントをお持ちでない方はこちら
          = link_to "新規会員登録", "entrance", class: "login-head__btn"
        .single-inner
          .single-content
            %button#facebook-login.sns-facebook.btn-default
              %i.icon-facebook
              Facebookでログイン
            %button#google-login.sns-google.btn-default.btn-red
              %i.icon-google
              Googleでログイン
    = render 'users/footer'



/ %h2 Log in
/ = form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
/   .field
/     = f.label :email
/     %br/
/     = f.email_field :email, autofocus: true
/   .field
/     = f.label :password
/     %br/
/     = f.password_field :password, autocomplete: "off"
/   - if devise_mapping.rememberable?
/     .field
/       = f.check_box :remember_me
/       = f.label :remember_me
/   .actions
/     = f.submit "Log in"
/ = render "devise/shared/links"
