
    .btn-default{
      display: block;
      width: 100%;
      line-height: 48px;
      font-size: 14px;
      border: 1px solid transparent;
      cursor: pointer;
      text-align: center;
      }
      .btn-red{
        color: #fff;
        background: #ea352d;
        border: 1px solid #ea352d;
        text-decoration: none;
        border-radius: 4px;
        text-align: center;
        padding: 7px 16px;
        }
.pcbanner-image{
  width: 700px;
  height: 250px;
  padding-left: 363px;
  text-align: center;
}
