.item-box{
    width: 700px;
    height: 900px;
    float: right;
  &__container{
    width: 620px;
    height: 80%;
    padding: 24px 40px 40px;
    background-color: #fff;
    }
    &__name{
      font-size: 24px;
      text-align: center;
      margin: 0;
      }
   .item-main__content{
    margin-top: 16px;
    .item-image{
      float: left;
      width: 300px;
      height: 375px;
      .item-carousel{
         height: 300px;
         position: relative;
         .item-carousel__box{
          position: relative;
          overflow: hidden;
          .item-carousel__stage{
            height: 300px;
            position: relative;
          .item-carousel__list{
            width: 300px;
            float: left;
            .item-carousel__inner{
             position: relative;
             width: 100%;
             height: 0;
             padding: 0 0 100%;
             img{
              width: 300px;
              height: 300px;
             }
            }
          }
         }
        }
       }
      .item-disable__menu{
        display: none;
       }
        .item-list__images{
          width: 300px;
          height: 75px;
          max-height: none;
          position: relative;
          overflow: hidden;
          display: inline-block;
          max-height: 90px;
          cursor: pointer;
          span{
            display: none;
           }
          .item-list__image{
            width: 71px;
            height: 75px;
            padding: 0;
            display: inline-block;
            position: static;
            opacity: 0.4;
            img{
              width: 75px;
              height: 75px;
            }
          }
        }
      }
      .item-main__detail{
        float: right;
        max-width: 300px;
        height: 375px;
        margin: 0 auto;
        th{
          width: 39%;
          text-align: left;
          font-size: 13px;
          font-weight: 400;
          background: #fafafa;
          padding: 8px 12px 8px 8px;
          border: 1px solid #f5f5f5;
         }
        td{
          width: 61%;
          font-size: 13px;
          background: #fff;
        }
       }
      }
      .item-main__pricebox{
        margin-top: 24px;
        clear: both;
        text-align: center;
        border-bottom: 1px solid #eee;
        .item-main__price{
         margin: 0 16px 0 0;
         font-size: 50px;
         font-weight: 600;
          }
         }
      .item-buy{
        height: 44px;
        width: 95%;
        font-size: 24px;
        text-align: center;
        font-weight: 600;
        line-height: 44px;
      }
      .item-main__description{
        padding-top: 32px;
        line-height: 1.5;
        font-size: 18px;
       }
    .item-change__box{
      margin: 24px 0 24px 0;
      background: #fff;
      padding: 8px 16px 8px 16px;
      .btn-default{
        margin: 16px 0 16px 0;
        padding: 0;
       }
      .btn-red{
       background: #ea352d;
       border: 1px solid #ea352d;
       color: #fff;
      }
      .item-text__center{
        text-align: center;
        font-size: 16px;
      }
      .btn-gray{
        background: #aaa;
        border: 1px solid #aaa;
        color: #fff;
        text-decoration: none;
      }
     }
    .item-detail__message{
      width: 100%;
      height: 45%;
      background-color: #fff;
      margin-top: 8px;
      .item-message__container{
        padding: 24px;
        p{
          padding: 8px;
          font-size: 14px;
          background-color: #fff6de;
         }
        textarea{
          height: 192px;
          padding: 10px;
          margin: 8px auto 0;
          display: block;
          width: 97%;
          border: 1px solid #ccc;
          background: #fff;
          font-size: 16px;
          line-height: 1.5;
          text-align: center;
        }
        .message-btn{
          width: 100%;
          margin: 8px 0 0;
          padding: 0;
          text-align: center;
          }
      }
    }
  }
