#sell-inner{
  padding: 0;
}
#sell-content{
  margin: 0;
}
#item-name{
  width: 94.1%;
}
#first-child{
  margin: 0;
  line-height: 1;
}
#first-list{
  margin: 0;
}
#first-cursor{
  padding-bottom: 28%;
}
#second-cursor{
  padding-top: 28%;
}
#children select{
  display:none;
}
#children select.on {
  display:block;
}
#grandson select{
  display:none;
}
#grandson select.on {
  display:block;
}
#delivery-children{
  display: none;
}
#delivery-children.on{
  display: block;
}
#bold{
  font-weight: 600;
  font-size: 18px;
}
#input_profit{
  font-size: 30px;
  font-weight: 600;
}
.sell-upload{
  &__box{
    width: 620px;
    padding: 40px;
    h3{
      font-size: 16px;
      margin: 0;
      .form-require{
        margin: 0 0 0 8px;
        padding: 2px 4px;
        border-radius: 2px;
        color: #fff;
        background-color: #ea352d;
        font-size: 12px;
        vertical-align: top;
      }
    }
    p{
      font-size: 12px;
      margin: 8px 0 0;
      line-height: 1.5;
    }
    .sell-dropbox__container{
     width: 620px;
     height: 186px;
     display: block;
     margin: 16px auto 0;
     .sell-upload__dropbox{
      margin: 0;
      min-height: 186px;
      position: relative;
      font-size: 0;
      text-align: center;
       pre{
        position: absolute;
        top: 30%;
        left: 16px;
        right: 16px;
        text-align: center;
        font-size: 14px;
        line-height: 1.5;
       }
       ul{
        width: 620px;
        padding: 0px;
         li{
          width: 138px;
          height: 186px;
          margin-left: 20px;
          background-color: #f5f5f5;
          border: 1px dashed #ccc;
          background-image: url(https://d2v9k5u4v94ulw.cloudfront.net/assets/images/35323/original/280ea972-2a2c-44a2-bf31-a2e858a47149?1499942068);
          background-size: contain;
          background-position: center;
          float: left;
         }
       }
     }
    }
  }
}
.sell-content{
    width: 620px;
    padding: 40px;
    border-top: 1px solid #eee;
    .textarea-default{
      display: block;
      width: 100%;
      max-width: 96.4%;
      min-height: 104px;
      padding: 10px;
      border: 1px solid #ccc;
      background: #fff;
      font-size: 16px;
      line-height: 1.5;
    }
   .sub-head{
    float: left;
    color: #888;
    font-size: 14px;
    margin: 0;
    }
   .sell-form__box{
    width: 400px;
    float: right;
    select{
      width: 100%;
      position: relative;
      height: 48px;
      padding: 0 16px;
      border-radius: 4px;
      border: 1px solid #ccc;
      background: 0;
      font-size: 16px;
      line-height: 1.5;
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;
    }
    .form-group__input{
      position: relative;
    }
    .fa-chevron-down{
      position: absolute;
      right: 16px;
      top: 50%;
      color: #888;
      font-size: 12px;
      transform: translate(0, -50%);
      }
   }
  .form-group__price{
    height: 48px;
    padding-bottom: 24px;
    .form-group__left{
      line-height: 48px;
      float: left;
    }
    .form-group__right{
        float: right;
      .price-input{
        width: 100%;
        margin:0 15px 0 0;
        div{
          display: inline-block;
        }
     }
    }
  }
  li{
    clear: both;
    list-style: none;
    padding: 24px 0;
    border-top: 1px solid #ccc;
    .form-group__left{
      font-size: 14px;
      float: left;
    }
    .form-group__right{
      float:right;
    }
  }
}
.sell-btn-box{
  padding: 40px;
  border-top: 1px solid #eee;
  p{
    font-size: 14px;
    margin: 0;
    a{
      color: #0099e8;
      text-decoration: none;
    }
  }
  .btn-gray{
    width: 45%;
    margin: 24px auto 0;
    background: #aaa;
    border: 1px solid #aaa;
    color: #fff;
    display: block;
    line-height: 48px;
    font-size: 14px;
    border: 1px solid transparent;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
  }
}
.clearfix:after {
    content: '';
    display: block;
    clear: both;
}


