#selling-title{
  font-size: 16px;
  margin: 0;
  padding: 16px;
}
#selling-tab{
  width: 32.8%;
}
#selling-box{
  height: 80px;
}
#link-box{
  height: 48px;
}
#non-exist-item{
  padding-top: 30px;
}
.mypage-item__list{
  .mypage-item__listbox{
    .mypage-item__link{
    figure{
    width: 48px;
    height: 48px;
    position: relative;
    overflow: hidden;
    float: left;
    margin: 0;
     img{
      width: 48px;
      height: 48px;
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      z-index: 1;
     }
    }
    .mypage-list__body{
      margin: 0 40px 0 68px;
       .mypage-list__text{
        font-size: 14px;
        overflow: hidden;
        display: block;
        display: -webkit-box;
        text-align: -webkit-left;
        line-height: 1.5;
       }
    div{
      text-align: -webkit-left;
     .lisiting-item__count{
        vertical-align: 2px;
        margin: 0 6px 0 0;
        color: #ccc;
        i{
          vertical-align: middle;
        }
      }
      .mypage-item__status{
        background-color: #0099e8;
        display: inline-block;
        margin: 8px 0 0 0;
        padding: 5px 6px;
        border-radius: 2px;
        font-size: 12px;
        line-height: 12px;
        font-weight: 600;
        color: #fff;
        }
       }
      }
    .fa.fa-chevron-right{
      position: absolute;
      top: 50%;
      right: 16px;
      transform: translate(0, -50%);
     }
   }
 }
ul li :hover{
  background-color: #f9f9f9;
  transition: all ease-out .1s;
 }
}
